<h1>Tu recomendación metodológica</h1>
<br>  
<br>  
<br>  

<form id="loginForm">
    <label>Empresa</label>
    <input name="empresa">
    <label></label>

    <fieldset>
                <legend>¿Tipo de proyectos?</legend>
                <select name="" class="opciones-informacion">
                    <option>Financiero</option>
                    <option>Mejora</option>
                    <option>Actualización</option>
                </select>
    </fieldset>
    
    <fieldset>
                <legend>¿Equipo Técnico?</legend>
                <select name="" class="opciones-informacion">
                    <option>Arquitecto</option>
                    <option>Líder Técnico?</option>
                    <option>Ambos</option>
                </select>
    </fieldset>

     <fieldset>
                <legend>¿Caracteristicas del equipo?</legend>
                <select name="" class="opciones-informacion">
                    <option>Senior</option>
                    <option>Semi-Senior</option>
                    <option>Junior</option>
                </select>
    </fieldset>

    <fieldset>
                <legend>¿Cuantas personas hacen parte de tu equipo?</legend>
                <select name="" class="opciones-informacion">
                    <option>2-3</option>
                    <option>4-5</option>
                    <option>6-7</option>
                </select>
    </fieldset>

        <fieldset>
                <legend>¿Cuanta experiencia en el área de negocio hay?</legend>
                <select name="" class="opciones-informacion">
                    <option>1-3 años</option>
                    <option>4-5 años</option>
                    <option>6-7 años</option>
                </select>
    </fieldset>

     <fieldset>
                <legend>¿Cuanta disponibilidad del dueño del producto?</legend>
                <select name="" class="opciones-informacion">
                    <option>1-3 horas/semanales</option>
                    <option>4-5 horas/semanales</option>
                    <option>6-7 horas/semanales</option>
                </select>
    </fieldset>
</form>

<p>Su recomendación metodológica es :
<br>    
<a href="/register">Presiona aquí</a></p>
<br>
<script src="/js/login.js"></script>