<h1>Su resultado fue: </h1>
<form id="registerForm">
    <br>
    <label>Te recomendamos esto:</label>
    <br>
    <br>
    <label>Tener un Scrum Master</label>
   <br>
    <label>Un equipo de 9 a 10 personas </label>
<br>
    <label>Tener los siguientes eventos :</label>
<br>
     <label> - Review:</label>
<br>
     <label>- Retrospectiva</label>
<br>
    <label>- Diseños</label>
<br>
    <input type="submit">
</form>



<script src="/js/register.js"></script>